* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-image: url(https://wallpaperaccess.com/full/301512.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    line-height: 20px;
    background-color: white;
    padding: 20%;
    border-radius: 20px;
    border: 2px solid;
}

.container {
    display: flex;
    padding: 50px;
}

.mainContainer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}