body {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.card {
    padding: 10px;
}